.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

select,
button {
    margin-top: 10px;
}

#quiz {
    margin-top: 20px;
}

#options {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.modal {
    z-index: 9999;
}

.modal-content {
    max-width: 400px;
}

.close-btn {
    cursor: pointer;
}